body
{
    background-color:pink;
}
h1
{
color:red;
}
h1:hover
{
    color: blue;
}
h2{
    color:orange;
}
ul li
{
    color: blue;
    margin-left: 50px;
}
p
{
    background-color: yellow;
}
input
{
    border: 3px red solid;
    background-color: gray;
}

.hello
{
    background-color: white;
}
#special
{
    border: 2px blue solid;
}
.myclass p
{
   font-size: 25px;
}
.myclass label
{
 text-transform: uppercase;
}
#special::first-letter
{
 color: green;
 font-size: 100px;

}
#myclass a:visited
{
color: red;
}