body
{
    background: black;

}
#header
{
    background: red;
    border: 1px solid yellow;
    height: 50px;
    margin-left:50px;
    position: fixed;
    width: 1280px;
    
    
}


#rnav ul
{
 
  list-style-type: none;
  margin-left: 800px;
  margin-top: -25px;
  
}
#rnav li
{
display: inline-block;
padding: 1px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:gray;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  /*display: block;*/
  transition: 0.3s;
  top: -3;
 
}


